* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  transition: all 0.4s;
}

.leftSideContainer ul {
  padding-left: 0px;
}

.leftSideContainer ul li {
  list-style: none;
  color: #fff;
  padding: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: all 0.3s ease-out;
}
/* 
.leftSideContainer{
  background: rgb(43, 48, 53);
} */

.leftSideContainer ul li:hover, .active {
  background: #80898d9f;
}

.searchBox{
  box-shadow: 0 0 5px black;
}

.searchBox input {
  outline: none;
}

.searchBox img {
  cursor: pointer;
}

.profile-container{
  list-style: none;
  font-size: medium;
  font-weight: 800;
  padding-left: 3px;
  padding-top: 3px;
  padding-right: 3px;
}

.profile-container li{
  cursor: pointer;
  margin-bottom: .5rem;
  padding: .5rem;
  border-radius: .5rem;
  text-align: start;
}

.profile-container li:hover{
  background: #ffffff56;
}
