html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::-webkit-inner-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

#main-container {
  transition: all 0.5s;
  padding: 1rem;
}
#main-inner-container {
  /* background: linear-gradient(95deg, rgb(218, 55, 44), rgb(233, 147, 35)); */
  /* backdrop-filter: blur(10px);
  box-shadow: 0 0 5px #888; */
  color: #000;
  overflow: hidden;
}

/* #login-container {
  min-width: 750px;
  max-width: 75vw;
} */

/* #login-lside {
  background: url(/img/college_2.jpg) no-repeat;
  background-size: contain;
} */

#pre-loader-container{
  width: 100vw;
  height: 100vh;
  background:#0000008e;
  position: fixed;
  top: 0;
  z-index: 10000;
  display: grid;
  place-items: center;
}
#pre-loader-img{
  animation: loading 2s infinite;
}
@keyframes loading{
  0%,100%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.3);

  }
}

.footer-container{
  list-style: none
}
