.banner-container{
    position: relative;
}
.banner-container::before{
    content: '';
    height:100%;
position: absolute;
    width: 100%;
    padding-left: 10px;
    background: linear-gradient(180deg ,#00000000,#00000000,#000000);
     /* backdrop-filter: blur(5px); */
}

.notification-container,  .notification-img{
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 1rem;
    color: #ffffff;
    /* max-height: 350px; */
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
.notification-container h3{
    text-align: center;
    color: #ffffff;
}

.notification-container  ul{
    padding: 5px 2px 5px 15px ;
    margin: 0px;
    overflow: scroll;
    overflow-x: hidden;
    max-height: 230px;
    border-radius: .5rem;
    list-style: none;
    background: rgb(33, 37, 41);
    transition: all .4s;
}

.notification-container  ul::-webkit-scrollbar{
    appearance: none;
}

.notification-container ul li{
    text-align: center;
    padding: 10px;
    border-radius: .5rem;
}
.notification-container ul li:hover{
    background: #91909093;

}

#justify-tab-example-tab-all,
#justify-tab-example-tab-results,
#justify-tab-example-tab-events,
#justify-tab-example-tab-function,
#justify-tab-example-tab-others{
    border-radius: 1rem;
    margin-bottom: 0;
    overflow: hidden;
    color:inherit;
    background: #000;
}


.notification-img{
    /* background: url(/public/img/diamond-sunset.svg) no-repeat center; */
    height: 90%;
}