.banner-container{
    position: relative;
}
.banner-container::before{
    content: '';
    height:100%;
position: absolute;
    width: 100%;
    padding-left: 10px;
    background: linear-gradient(180deg ,#00000000,#00000000,#000000);
     /* backdrop-filter: blur(5px); */
}

.notification-container,  .notification-img{
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 1rem;
    color: #ffffff;
    /* max-height: 350px; */
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.notification-container h3{
    text-align: center;
    color: #ffffff;
}

.notification-container  ul{
    padding: 5px 2px 5px 15px ;
    margin: 0px;
    border-radius: .5rem;
    list-style: none;
    background: rgb(33, 37, 41);
    transition: all .4s;
}
.notification-container div div ul{
    overflow: scroll;
    /* height: 100%; */
}

.notification-container  ul::-webkit-scrollbar,.notification-container  ul::-webkit-scrollbar-corner{
    appearance: none;
}
.notification-img  div::-webkit-scrollbar,.notification-img  div::-webkit-scrollbar-corner{
    appearance: none;
}

.notification-container ul li{
    text-align: center;
    padding: 10px;
    border-radius: .5rem;
}

.notification-container ul li:hover{
    background: #91909093;

}

#justify-tab-example-tab-all,
#justify-tab-example-tab-results,
#justify-tab-example-tab-events,
#justify-tab-example-tab-function,
#justify-tab-example-tab-others{
    border-radius: 1rem;
    margin-bottom: 0;
    overflow: hidden;
    color:inherit;
    background: #000;
}

.notification-img{
    /* background: url(/public/img/diamond-sunset.svg) no-repeat center; */
    height: 90%;
}

.home-count-container{
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(img/college_campus1.jpg) no-repeat center fixed;
    background-size: cover;
    overflow: hidden;
}

.home-count-container .col-12{
    position: relative;
}

.home-count-container .col-12:nth-last-child(n+2)::before{
    /* border-bottom: solid rgb(161, 161, 161) 2px; */
    content: '';
    position: absolute;
    width: 60%;
    height: 2px;
    background: #7a7a7a;
    bottom: 0;
    transform: translate(-50%,-50%);
}

@media screen and (min-width: 760px) {
    .home-count-container .col-12:nth-last-child(n+2)::before{
        /* border-bottom: solid rgb(161, 161, 161) 2px; */
        content: '';
        position: absolute;
        height: 50%;
        width: 2px;
        background: #7a7a7a;
        right: 0;
    }  
}