#FooterContainer{
position: relative;
}
#FooterContainer ul {
  list-style: none;
  text-align: center;
}

.about-container{
  background: linear-gradient(45deg, #0000008a,#0000008a), url(/img/college-classroom1.jpg) no-repeat fixed center;
  background-size: cover;
  /* background: url(/public/img/college_banner1.jpg); */
  backdrop-filter: blur(10px);
  color: #ffffff;
  list-style: none;
}
